<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem4">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.2161 0.0254 -0.16194"
        rpy="0 0 0" />
      <mass
        value="7.0511" />
      <inertia
        ixx="0.055717"
        ixy="-6.2575E-19"
        ixz="-5.0822E-18"
        iyy="0.17612"
        iyz="-2.4587E-19"
        izz="0.12343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem4/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem4/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>